<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyl.flyplus.mapper.PlacementMapper" >
  <resultMap id="BaseResultMap" type="com.yyl.flyplus.model.Placement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="campus" property="campus" jdbcType="VARCHAR" />
    <result column="class_cycle" property="classCycle" jdbcType="VARCHAR" />
    <result column="class_time" property="classTime" jdbcType="VARCHAR" />
    <result column="student_num" property="studentNum" jdbcType="INTEGER" />
    <result column="attend_class" property="attendClass" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, project_id, campus, class_cycle, class_time, student_num, attend_class, 
    teacher, remark, is_del, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from placement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from placement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyl.flyplus.model.Placement" >
    insert into placement (id, name, project_id, 
      campus, class_cycle, class_time, 
      student_num, attend_class, teacher, 
      remark, is_del, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, 
      #{campus,jdbcType=VARCHAR}, #{classCycle,jdbcType=VARCHAR}, #{classTime,jdbcType=VARCHAR}, 
      #{studentNum,jdbcType=INTEGER}, #{attendClass,jdbcType=VARCHAR}, #{teacher,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, #{createTime,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yyl.flyplus.model.Placement" >
    insert into placement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="campus != null" >
        campus,
      </if>
      <if test="classCycle != null" >
        class_cycle,
      </if>
      <if test="classTime != null" >
        class_time,
      </if>
      <if test="studentNum != null" >
        student_num,
      </if>
      <if test="attendClass != null" >
        attend_class,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="campus != null" >
        #{campus,jdbcType=VARCHAR},
      </if>
      <if test="classCycle != null" >
        #{classCycle,jdbcType=VARCHAR},
      </if>
      <if test="classTime != null" >
        #{classTime,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null" >
        #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="attendClass != null" >
        #{attendClass,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyl.flyplus.model.Placement" >
    update placement
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="campus != null" >
        campus = #{campus,jdbcType=VARCHAR},
      </if>
      <if test="classCycle != null" >
        class_cycle = #{classCycle,jdbcType=VARCHAR},
      </if>
      <if test="classTime != null" >
        class_time = #{classTime,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null" >
        student_num = #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="attendClass != null" >
        attend_class = #{attendClass,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyl.flyplus.model.Placement" >
    update placement
    set name = #{name,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      campus = #{campus,jdbcType=VARCHAR},
      class_cycle = #{classCycle,jdbcType=VARCHAR},
      class_time = #{classTime,jdbcType=VARCHAR},
      student_num = #{studentNum,jdbcType=INTEGER},
      attend_class = #{attendClass,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>